
<div class="big">Lists
  <span class="small"><%= link_to 'New List +', new_list_path %></span>
</div>

<br>

<br>
<% if @lists.any? %>
    <% @lists.each do |list| %>
        <h1 class="list-name" ><%= link_to "#{list.name}.", list_path(list)%>
        </h1>


        <!--<% if list.items.any? %>-->

            <!--<% list.items.each do |item| %>-->
                <!--<h4><%= item.name %></h4>-->
            <!--<% end %>-->

        <!--<% else %>-->
            <!--<p>no items</p>-->
        <!--<% end %>-->

    <% end %>
    <%else %>
<h3>No lists</h3>
<% end %>

