// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.big1{
  color:pink;
}


h1 a{
  color:green;
}

.big{
  font-size:3em;

}
.small>a{
  font-size:.5em;
  color:plum;
}